<nav class="column small-12 large-3 static-page--sidemenu desktop">
	<h6 class="customer-support-link">Customer Support</h6>
    <!--<h6 class="customer-support-link mobile">Customer Support</h6>-->
    <ul class="static-navigation-container">
        <li class="icon-static-page icon--contact {{#if page_name '===' 'Contact Us'}}is_active{{/if}}"><a href="/contact-us/">Contact Us</a>
        </li>
        <!--<li class="icon-static-page icon--our-stores {{#if page_name '===' 'Our Stores'}}is_active{{/if}}"><a href="/our-stores/">Our Stores</a></li>-->
        <li class="icon-static-page icon--store-finder {{#if page_name '===' 'Store Finder'}}is_active{{/if}}"><a href="/store-finder/">Store Finder</a></li>
        <li class="icon-static-page icon--shipping-and-delivery {{#if page_name '===' 'Shipping and Delivery'}}is_active{{/if}}"><a href="/shipping-and-delivery/">Shipping and Delivery</a></li>
        <li class="icon-static-page icon--faq {{#if page_name '===' 'FAQ'}}is_active{{/if}}"><a href="/faq/">FAQ</a></li>
        <li class="icon-static-page icon--about-kidstuff {{#if page_name '===' 'About Kidstuff'}}is_active{{/if}}"><a href="/about-kidstuff/">About Kidstuff</a></li>
        <li class="icon-static-page icon--careers {{#if page_name '===' 'Kidstuff Careers'}}is_active{{/if}} {{#if page_name '===' 'Apply At Kidstuff'}}is_active{{/if}}"><a href="/careers/">Careers</a></li>
        <li class="icon-static-page icon--east-timor-charity {{#if page_name '===' 'East Timor Charity'}}is_active{{/if}}"><a href="/east-timor-charity/">East Timor Charity</a></li>
        <!-- <li class="icon-static-page icon--rewards {{#if page_name '===' 'Rewards'}}is_active{{/if}}"><a href="/rewards/">Rewards</a></li> -->
        <li class="icon-static-page icon--return {{#if page_name '===' 'Returns & Exchanges'}}is_active{{/if}}"><a href="/returns-exchanges/">Returns &amp; Exchanges</a></li>
        <li class="icon-static-page icon--competitions {{#if page_name '===' 'Competitions & Activities'}}is_active{{/if}}"><a href="/competitions-activities/">Competitions &amp; Activities</a></li>
    </ul>
</nav>
