<section class="clearfix featured-categories-wrapper">

<h2 class="page-heading">Featured Categories<figure>
	<img src="{{cdn '/assets/img/custom-assets/home/header-accent-top.svg'}}"/>
</figure></h2>

<ul class="clearfix featured-categories homeFeaturedCategories"></ul>

<p class="featured-categories--gift-finder-link">Need help finding a gift? <span> <img src="{{cdn '/assets/img/custom-assets/header/gift_wrapper_icon.png'}}" /> <a href="/try-our-gift-finder/" class="underline-link">Try our Gift Finder</a></span>  </p>

</section>
