<div
    id="modalAd"
    class="modal modal-ad"
    data-reveal
    signup-modal
    aria-labelledby="modalTitle"
    aria-hidden="true"
    role="dialog"
    data-options="closeOnBackgroundClick:false">
    <div class="modal_content">
        <a target="_blank" href="/login.php?action=create_account">
            <img src="{{cdn 'img/ks-supersat-popup.png'}}" alt="Super Saturday">
        </a>
        <button class="modal-close ad_close--modal" aria-label="Close">&#215;</button>
    </div>
</div>