<div class="countdown countdown--timer">
    <div class="container">
        <div class="countdown__text">
        </div>
        <ul id="countdownTimer" class="countdown__timer">
            <li>
                <span class="days"></span>
                <p class="countdown__label countdown__label--days days_text">Days</p>
            </li>
            <li>
                <span class="hours"></span>
                <p class="countdown__label countdown__label--hours hours_text">Hrs</p>
            </li>
            <li>
                <span class="minutes"></span>
                <p class="countdown__label countdown__label--minutes minutes_text">Mins</p>
            </li>
            <li>
                <span class="seconds"></span>
                <p class=" countdown__label countdown__label--seconds seconds_text">Secs</p>
            </li>
        </ul>
        <div class="countdown__link">
        </div>
    </div>
    <button class="countdown__close">X</button>
</div>